/* styles.css */
@font-face {
  font-family: "Basier Square Bold";
  src: url('../fonts/BasierSquare-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Basier Square Regular";
  src: url('../fonts/BasierSquare-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  color: white;
  background-color: black;
}

p, a {
  font-family: "Basier Square Regular";
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Basier Square Bold";
}

/* h1 {
  font-size: 130px;
  font-style: normal;
  line-height: 130px;
  letter-spacing: -3px;
} */

h1 {
  color: #413F3F;
  font-size: 130px;
  line-height: 130px; /* 100% */
}

h2 {
  font-size: 90px;
  font-style: normal;
  line-height: 94px;
}

h3 {
  font-size: 54px;
  font-style: normal;
  line-height: 66px; /* 122.222% */
}

h4 {
  font-family: "Basier Square Regular";
  font-size: 34px;
  font-style: normal;
  line-height: 56px; /* 147.368% */
}

h5 {
  font-size: 24px;
  font-style: normal;
  line-height: 34px; /* 141.667% */
}

p {
  font-size: 24px;
  line-height: 38px; /* 158.333% */
}

span {
  color: white;
}

/* NAVBAR MENU */

.navbar {
  margin-top: 30px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 8.333333%;
}

.navbar-nav a {
  color: #FFF;
  margin-left: 15px;
  padding: 10px 35px 10px 35px;
   border-radius: 0;
}

.navbar-nav .btn {
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 0;
}

.navbar-brand {
  text-align: center;
  font-family: "Basier Square Bold";
  font-size: 30.61px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.392px;
}

/* LANDING SECTION */
.landing-bg {
  background-image: url("../imgs/landing-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing h2 {
  margin-top: 100px;
}

/* ABOUT US SECTION */

.about-us-bg {
  background-image: url("../imgs/about-us-bg.png");
  background-position: -85% top;
  background-repeat: no-repeat;
  
}

.about-us-link {
  color: #FFDD29;
  font-size: 18px;
  font-style: normal;
  line-height: 20px; /* 111.111% */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: auto;
}

.asai-bg {
  background-image: url("../imgs/asai-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.solutions-bg {
  background-image: url("../imgs/solutions-bg.png");
  background-size: cover;
  background-position: -200px center;
  background-repeat: no-repeat;
}

/* CONTACT FORM */

.contact-form h3 {
  margin-bottom: 20px;
}

.contact-form textarea {
  height: 150px;
}

.form-control {
  border-radius: 0;
  font-family: "Basier Square Regular";
  font-size: 18px;
  color: #FFF;
  height: 60px;
}

.input-data {
  background: transparent;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

@media screen and (min-width: 768px)  {
  .vh-md-100 {
    height: 100vh;
  }

  .d-md-flex {
    display: flex;
  }
}

@media screen and (max-width: 768px)  {

  h1 {
    font-size: 90px;
    font-style: normal;
    line-height: 90px; /* 100% */
    letter-spacing: -3px;
  }

  h2 {
    font-size: 50px;
    font-style: normal;
    line-height: 44px;
  }

  h3 {
    font-size: 34px;
    font-style: normal;
    line-height: 46px; /* 122.222% */
  }

  h4 {
    font-family: "Basier Square Regular";
    font-size: 24px;
    font-style: normal;
    line-height: 36px; /* 147.368% */
  }

  h5 {
    font-size: 20px;
    font-style: normal;
    line-height: 30px; /* 141.667% */
  }

  .navbar-toggler {
    display: none;
  }

  .landing-bg {
    background-image: url("../imgs/landing-bg.png");
    background-size: contain;
    background-position: center top;
    min-height: 480px;
  }

  .solutions-bg {
    background-position: -350px center;
  }

  .logotype {
    width: 100%;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }

  .footer h1 {
    color: #413F3F;
    font-size: 70px;
    line-height: 70px; /* 100% */
    padding-top: 20px;
    padding-bottom: 10px;
  }
}