/* styles.css */
@font-face {
  font-family: "Basier Square Bold";
  src: url('../fonts/BasierSquare-Bold.otf') format('opentype'),
       url('../fonts/BasierSquare-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Basier Square Regular";
  src: url('../fonts/BasierSquare-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  position: relative;
  background-color: black;
}

nav {
  margin-top: 40px;
}

.navbar-nav {
  margin-left: auto;
}

p {
  font-family: "Basier Square Regular";
}

.navbar-brand {
  color: #FFF;
  text-align: center;
  font-family: "Basier Square Bold";
  font-size: 30.61px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.392px;
}

.navbar-nav a {
  color: white;
  padding: 10px 35px 10px 35px;
  border-radius: 0;
  margin-left: 15px;
}

.header {
  position: relative;
  background-image: url("../imgs/landing-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 760px;
}

.landing-subtitle {
  color: #FFF;
  font-family: "Basier Square Bold";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px;
  margin-top: 450px;
}

.intro-text {
  color: #FFDFD8;
  font-family: "Basier Square Regular";
  font-size: 34px;
  line-height: 56px; /* 147.368% */
  margin-top: 100px;
  margin-bottom: 100px;

}

.solutions, .avatars, .integrations, .about-us{
  color: #FFF;
}

.solutions {
  margin-top: 50px;
  background-image: url("../imgs/solutions-bg.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.solutions a {
  color: #FFDD29;
  font-family: "Basier Square Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  text-decoration: none;
}

.solutions h3 {
  margin-bottom: 200px;
}

.solutions h6 {
  color: #FFF;
  font-family: "Basier Square Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}

.solutions p {
  font-family: "Basier Square Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
}

.solutions, .integrations {
  margin-bottom: 200px;
}

.avatars-description, .integrations-description {
  padding-top: 200px;
  padding-bottom: 50px;
}

.avatars-features {
  padding-top: 50px;
  padding-bottom: 200px;
}

.avatars-description h1, .integrations-description h1, .about-us-intro h1 {
  font-family: "Basier Square Bold";
  font-size: 130px;
  font-style: normal;
  font-weight: 700;
  line-height: 130px; /* 100% */
  letter-spacing: -3px;
}

.avatars-description h1 {
  margin-bottom: 80px;
}

.integrations-description {
  background-image: url("../imgs/integrations-header.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.avatars-description {
  background-image: url("../imgs/avatars-header.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.avatars-features h6 {
  color: #FFF;
  font-family: "Basier Square Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding: 15px 0 15px 0;
}

.avatars-features .border {
  padding: 15px;
  min-height: 315px;
  margin-top: 30px;
}

.avatars-features-subtitle {
  color: #FFDFD8;
  font-family: "Basier Square Regular";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 147.368% */
  padding: 120px 120px 0 40px;
}

.solutions h3 {
  font-family: "Basier Square Bold";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px; /* 122.222% */
}

.integrations-subtitle {
  color: #FFDFD8;
  font-family: "Basier Square Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 147.368% */
  padding-top: 50px;
  padding-bottom: 100px;
}

.integrations h6 {
  font-family: "Basier Square Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  margin-bottom: 80px;
}

.integrations li {
  font-family: "Basier Square Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.solutions-description {
  font-family: "Basier Square Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
}

.integrations-description h3 {
  font-family: "Basier Square Bold";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px; /* 122.222% */
}

.about-us-subtitle {
  color: #413F3F;
  font-family: "Basier Square Bold";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 116.667% */
}

.about-us-description {
  background-image: url("../imgs/about-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-us-description .subtitle {
  padding-top: 200px;
  padding-bottom: 150px;
  color: #FFDFD8;
  font-family: "Basier Square Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 147.368% */

}

.about-us-description h3 {
  color: #FFF;
  font-family: "Basier Square Bold";
  font-size: 54px;
  font-style: normal;
  line-height: 66px; /* 122.222% */
  margin-bottom: 70px;;
}

.about-us-description p {
  padding-top: 70px;
  padding-bottom: 70px;
  color: #FFF;
  font-family: "Basier Square Regular";
  font-size: 24px;
  font-style: normal;
  line-height: 38px; /* 158.333% */
}

.bottom-title h1 {
  color: #413F3F;
  font-family: "Basier Square Bold";
  font-size: 160px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px; /* 100% */
  letter-spacing: -6px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.bottom-title span {
  color: #FFF;
}

.contact-form h3 {
  font-family: "Basier Square Bold";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 131.579% */
  margin-bottom: 20px;
}

.form-control {
  border-radius: 0;
  font-family: "Basier Square Regular";
  font-size: 14px;
  color: #FFF;
}

.input-data {
  background: transparent;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.contacts {
  padding-bottom: 200px;
}

.contacts h6 {
  
}