/* styles.css */
@font-face {
  font-family: "Basier Square Bold";
  src: url('../fonts/BasierSquare-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Basier Square Regular";
  src: url('../fonts/BasierSquare-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  color: white;
  background-color: black;
}

p, a {
  font-family: "Basier Square Regular";
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Basier Square Bold";
}

h1 {
  color: #413F3F;
  font-size: 130px;
  line-height: 130px; /* 100% */
}

h2 {
  font-size: 90px;
  font-style: normal;
  line-height: 94px;
}

h3 {
  font-size: 64px;
  font-style: normal;
  line-height: 66px; /* 122.222% */
}

h4 {
  font-family: "Basier Square Regular";
  font-size: 34px;
  font-style: normal;
  line-height: 56px; /* 147.368% */
}

h5 {
  font-size: 24px;
  font-style: normal;
  line-height: 34px; /* 141.667% */
}

p {
  font-size: 24px;
  line-height: 38px; /* 158.333% */
}

li {
  font-size: 20px;
}

span {
  color: white;
}

u {
  text-underline-offset: 4px;
}

.global-padding {
  padding-left: 8%;
  padding-right: 8%;
}

.light-grey-text {
  color: #FFDFD8
}


/* NAVBAR MENU */

.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav a {
  color: #FFF;
  margin-left: 15px;
  padding: 10px 35px 10px 35px;
  border-radius: 0;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler:focus{
  border: none;
  box-shadow: none;
  outline: none;
}

.navbar-nav .btn {
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 0;
}

.navbar-brand {
  text-align: center;
  font-family: "Basier Square Bold";
  font-size: 30.61px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.392px;;
}

/* LANDING SECTION */
.landing-bg {
  background-image: url("../imgs/landing-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing h2 {
  margin-top: 100px;
}

/* ABOUT US SECTION */

.about-us-bg {
  background-image: url("../imgs/about-us-bg.png");
  background-position: -85% top;
  background-repeat: no-repeat;
  
}

.about-us-link {
  color: #FFDD29;
  font-size: 18px;
  font-style: normal;
  line-height: 20px; /* 111.111% */
  letter-spacing: 1.08px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: auto;
}

.asai-bg {
  background-image: url("../imgs/asai-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}



/* CONTACT FORM */

.contact-form h3 {
  margin-bottom: 20px;
}

.contact-form textarea {
  height: 150px;
}

.form-control {
  border-radius: 0;
  font-family: "Basier Square Regular";
  font-size: 18px;
  color: #FFF;
  height: 60px;
}

.input-data {
  background: transparent;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.btn-primary {
  font-family: "Basier Square Bold";
  background-color: #3B37FF;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary:hover {
  background-color: #1f1da3;
}

.btn-primary:focus {
  background-color: #1f1da3;
  color: white;
  border: none;
  box-shadow: none;
}



/*
  SOLUTIONS PAGE
*/

.solutions-landing-bg {
    position: relative;
    overflow: hidden; 
}
.solutions-landing-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/solutions-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.asai-bg {
  background-image: url("../imgs/solutions-1.png");
  background-size: 55% auto;
  background-position: right;
  background-repeat: no-repeat;
}

.solutions-2-bg {
  background-image: url("../imgs/solutions-2.png");
  background-size: 35% auto;
  background-position: right;
  background-repeat: no-repeat;
}


.solutions-3-bg {
  background-image: url("../imgs/solutions-3.png");
  background-size: 35% auto;
  background-position: right;
  background-repeat: no-repeat;
}

.solutions-4-bg {
  background-image: url("../imgs/solutions-4.png");
  background-size: 35% auto;
  background-position: right;
  background-repeat: no-repeat;
}

.asai-mobile {
  width: 100%; 
  height: auto;
  object-fit: contain; 
}

.asai-logo {
  width: 40%; 
  height: auto;
  object-fit: contain; 
  
}


.solution-subtitle{
  font-size: 18px;
  font-style: normal;
  color: #DA98FF ;
}

/*
  AI AVATARS PAGE
*/

.ai-title {
  color: #374BFF;
  margin-top: 128px;
}

.avatar-bg {
  background-image: url("../imgs/solutions-1.png");
  background-size: 55% auto;
  background-position: center;
  background-repeat: no-repeat;
}


.avatar-btn {
  background-color: #4C0B71;
}

.avatar-btn:hover {
  background-color: #4C0B71;
}

.avatar-btn:focus {
  background-color: #4C0B71;
  outline: none;
}

.avatar-btn:active {
  background-color: #4C0B71 !important;
  outline: none;
}

.early-access-bg {
  background-image: url("../imgs/Avatars-2.png");
  background-size: 90% auto;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}


/*
  DESKTOP
*/

@media screen and (min-width: 1300px)  {
  .vh-md-100 {
    height: 100vh;
  }

  .d-md-flex {
    display: flex;
  }

  .hide-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px){
  .vh-md-100 {
    height: 100vh;
  }

  .d-md-flex {
    display: flex;
  }

  .card-title{
    font-size: 24px;
    font-style: normal;
    line-height: 36px; 
  
  }

  .card-text {
    font-size: 18px;
    font-style: normal;
    line-height: 30px; 
  }

  .hide-on-desktop {
    display: none;
  }
}

/*
  MOBILE
*/

@media screen and (max-width: 768px)  {

  .nav-link {
    text-align: center;
  }

  .navbar-nav a{
   margin-left: 0; 
  }

  .navbar{
    background-color: rgba(0, 0, 0, .8);
  }

  h1 {
    font-size: 90px;
    font-style: normal;
    line-height: 90px; /* 100% */
    letter-spacing: -3px;
  }

  h2 {
    font-size: 50px;
    font-style: normal;
    line-height: 50px;
  }

  h3 {
    font-size: 34px;
    font-style: normal;
    line-height: 46px; /* 122.222% */
  }

  h4 {
    font-family: "Basier Square Regular";
    font-size: 24px;
    font-style: normal;
    line-height: 36px; /* 147.368% */
    color: #FFDFD8;
  }

  h5 {
    font-size: 20px;
    font-style: normal;
    line-height: 30px; /* 141.667% */
  }

  .hide-on-mobile {
    display: none;
  } 

  .landing-bg {
    background-image: url("../imgs/landing-bg.png");
    background-position: center top;
    min-height: 380px;
    background-size: 150% auto;

  }

  .asai-bg {
    background-image: none;
  }

  .avatar-bg {
    background-image: none;
  }

  .early-access-bg{
    background-size: 180%; 
  }

  .logotype {
    width: 100%;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }

  .footer h1 {
    font-size: 60px;
    line-height: 60px; /* 100% */
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .card-title{
    font-size: 34px;
  }

  .card-text {
    font-size: 24px;
  }

  .solutions-landing-bg::before {
      transform: scaleX(-1);
  }
}

/* website update */

#card_container .card { filter: drop-shadow(0 0 20px rgba(182, 53, 194, 0.6)); background-color: transparent; color: white; }
  .card a img {
    height: 32px;
    opacity: .7
  }
  .card a {
    position: absolute;
    bottom: 3rem;
    right: 2.5rem;
  }
  h1 {
    color: #3b1b4d;
  }
  h1 span {
    color: white;
  }
  #footer p {
    color: #98A2B3;
  }

  .form-control {
    font-size: 16px;
    height: 50px;
  }

  .fixed-top.scrolled {
    background-color: rgba(0, 0, 0, .8) !important;
    transition: background-color 500ms linear;
  }

  #footer p a {
    text-decoration: none;
  }
  #footer p a img {
    width: 29px;
  }

  .link-nav-active {
    font-weight: bold;
  }